/* Color 1 */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(22, 96, 136);
    color: black;
}

/* Color 2 */
#solves {
    background-color: rgb(171, 218, 252);
}
#help, #settings {
    background-color: rgb(171, 218, 252);
}
#drawing {
    background-color: rgb(171, 218, 252);
}
#scrambleContainer {
    background-color: rgb(171, 218, 252);
}
#menus {
    background-color: rgb(171, 218, 252);
}