#drawing {
    display: inline-grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);

    background-color: rgb(171, 218, 252);
    color: black;

    padding: 50px;
    border-radius: 8px;

    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
}

.drawingFace {
    display: inline-grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 2px;
}

.grid {
    width: 20px;
    height: 20px;
    border: solid 1px;
}

.placeholder {
    width: 60px;
    height: 60px;
}

#timer {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%); 
    font-size: xx-large;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(22, 96, 136);
    color: white;
}

#scrambleContainer {
    display: flex;
    margin: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#solves {
    padding: 25px;

    color: black;

    display: block;
    width: 20%;
    height: 40%;
    overflow-y: scroll;
    background-color: rgb(171, 218, 252);

    position: absolute;
    top: 100%;
    transform: translate(-1%, -100%);
}

.fakeButton {
    cursor: pointer;
}

#scramble {
    cursor: pointer;
}